#story, #reply, #booking {
  display: none;
}

#letter {
  display: none;
  width: 80%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2vw;
  margin: auto;
  padding: 10vh 5vw;
  border: 1px solid black;
}

.name, .address, .date {
  margin-bottom: 0px;
}

#dear {
  margin-top: 1.5vh;
}

form {
  margin-bottom: 2vh;
}

.anything {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30vh;
  font-weight: bold;
  font-style: italic;
}

img {
  width: 30vw;
  float: left;
}

/* for calc */
#output, .all-result {
  margin: auto;
  width: 30vw;
  background-color: grey;
  text-align: center;
  font-size: 20vw;
}

/* for appointment */
.btn {
  border: 3px dashed pink;
  background-color: hotpink;
  color: white;
  border-radius: 20px;
}

/* for calc-2 */
.allOperations {
  width: 45vw;
  margin: auto;
}