#story, #reply {
  display: none;
}

#letter {
  display: none;
  width: 80%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2vw;
  margin: auto;
  padding: 10vh 5vw;
  border: 1px solid black;
}

.name, .address, .date {
  margin-bottom: 0px;
}

#dear {
  margin-top: 1.5vh;
}

form {
  margin-bottom: 2vh;
}

.anything {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30vh;
  font-weight: bold;
  font-style: italic;
}

img {
  width: 30vw;
  float: left;
}